<!DOCTYPE html> 
<html ng-app="tikor">

<head> 
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Tikor Consulting</title>
<link href="css/tikorStyles.css" rel="stylesheet">
<script src="lib/angular.min.js" type="text/javascript"></script>
<script src="scripts/tikor.js" type="text/javascript"></script>
</head> 
<body> 

<div class="header">
<!--	<div class="headphoto-left"></div>  -->
	<h1>Tikor Consulting</h1>
	<h3>A Database Management Consulting Firm</h3>
<!--	<div class="headphoto-right"></div>  -->
</div>

<div ng-controller="MainController as mainpage" class="wrapper">

<nav>
	<ul>
		<li ng-class="{ activetab:mainpage.isSelected(1) }">
			<a href ng-click="mainpage.selectTab(1)">Home</a>
		</li>
		<li ng-class="{ activetab:mainpage.isSelected(2) }">
			<a href ng-click="mainpage.selectTab(2)">About Us</a>
		</li>
		<li ng-class="{ activetab:mainpage.isSelected(3) }">
			<a href ng-click="mainpage.selectTab(3)">Services</a>
		</li>
		<li ng-class="{ activetab:mainpage.isSelected(4) }">
			<a href ng-click="mainpage.selectTab(4)">Contact</a>
		</li>
	</ul>
	
</nav>
<div class="main">
<div ng-show="mainpage.isSelected(1)">
	<p>Trust your critical business systems and database to the experts at Tikor Consulting. Our primary lines of business are:</p>
	<ul>
		<li>Oracle Database Support, Maintenance, and Upgrades</li>
		<li>Oracle E-Business Suite Support, Maintenance and Upgrades</li>
		<li>Remote Database Monitoring and Maintenance</li>
		<li>Custom Programming in support of Oracle E-Business Suite</li>
	</ul>
	
	<p>Tikor Consulting specializes in database support for nearly all flavors of OS and all currently supports include the following Database and Applications versions.</p>
	<ul>
		<li>Oracle Applications 9.4.2, 10.7, 11.0, 11i, R12</li>
		<li>Oracle Database Server 7.1 - 11.2</li>
		<li>SQL Server 2000/2003</li>
		<li>Operating Systems: DEC Tru64, HP-UX, AIX, Sun, Linux and MS Windows</li>
	</ul>	
</div>

<div ng-show="mainpage.isSelected(2)">
	<h1>Our Company</h1>
	<p>We started in 2003 providing low cost remote database support under contract to smaller companies in the Northwest. Our primary focus has been, and remains, Oracle E-business Suite. Most of our clients are referred to us from previous clients or other consultanting firms that we have worked with.</p>
    <p>Since our primary market has been smallere business our role, since they are often light on technical resources, has been to proivde a wide array of technical support to our clietns. This may include Storage Area Network, (SAN), Operating System Support (Unix (HP, Solaris, Linux)/ Windows), custom programming and IT impacts to businiess processing.</p>

	<h3>Our Business Philosophy</h3>
	<p>Tikor Consulting is your partner. If you grow large enough that you can bring your support tasks in house, we are happy to step away. If, on the other hand, you have a technology problem that you need solved and are not sure where to turn, we are there.</p>
	<p>It is always better for both parties when the scope and objectives are clear. Communication is the key to the . It is stating the obvious, but the common factor in every client we have supported has been a prior vendor that either lacked technical proficiency and/or failed to understand the client.</p>

	<h3>Our Technology Philosophy</h3>
	<p>Our primary goal is to succeed on your project and the way we do that is to focus on the foundation and on taking small steps. A database, or E-business Suite, installation is made up of numerous components that are all interdependent. A change to one may cascade through the entire application. So, we focus on the low level components first. We make focused. limited, changes as we build, or re-build, an application to be tuned ans supported.</p>
	<p>We also try to fit the solution to the client. For example, with smaller clients we often minimize customization. While it can be great to get the 'perfect' solution the on-going support requirements for a tailored solution may outweigh the ongoing support requirements.</p>
</div>
	
<div ng-show="mainpage.isSelected(3)">
	<h1>Our Services</h1>

	<h3>Hosting</h3>
	<p>Tikor Consulting can host your database or E-business Suite at a facility in Spokane, WA. We are very flexible on pricing as, in our experience, depending on the companies concerns different solutions are recommended. In somce case we install your hardware, other time we purchase hardware that is exclusive to your needs, in other cases we will run your applciation onm a shared server.</p>

	<h3>Remote Database Administration</h3>
	<p>For smaller companies that do not have the dedicated resources to maintain their databases we offer a remote database administration. As long as you are on the internet we have the same access to your servers as if we were on-site and we can do the work for significantly less cost since you only pay for time we work.</p>

	<h3>Upgrades/Migrations/Patching of both the Database and Applications</h3>
	<p>If your company is not on the latest patchsets of the Applications, or the Database is missing critical patches you may not get support from Oracle or your system may be unreliable. We can come in and perform the upgrades, in a safe manner, in less time that you can do it in house. We are doing it for other clients successfully and we can do it for you.</p>

	<h3>Installation/Configuration/Design</h3>
	<p>We can help select the hardware you need, help you order it, and even install the software and get you up and running without ever being on site. If you have someone on-site that can at least get you on the internet then we are ready to go. If you need help with th initial installation we can get someone on-site for the initial steps and then do the rest remotely.</p>

	<h3>Custom Programming</h3>
	<p>We often perform programming to automate processing on the database management side. In addition we can write applications that leverage our extensive knowledge of the Oracle E-Business Suite to provide you the deatils data or processing that you need.</p>
</div>
 
<div ng-show="mainpage.isSelected(4)">
	<h1>Contact Us</h1>
	
	<p>To find out more about the services at Tikor Consulting, and to receive an estimate, please contact us today!</p>
	
	<ul class="contact">
		<li>Tikor Consulting</li>
		<li>11 East 27th Avenue</li>
		<li>Spokane, WA 99203</li>
		<li>(509)795-4863</li>
		<li><a href="mailto:info@tikorconsulting.com">Info@TikorConsulting.com</a></li>
	</ul>
	<p>We look forward to helping you!</p>
</div>
</div>
</div>

<footer>
	<ul>
		<li class="name">Tikor Consulting</li>
		<li>(509)795-4863</li>
		<li><a href="mailto:info@tikorconsulting.com">Info@TikorConsulting.com</a></li>
	</ul>
	<ul>
		<li class="legal">Copyright &#0169; 2012 Tikor Consulting. All Rights Reserved.</li>
	</ul>
</footer>

</body>
</html>

